body {
  font-family: Lato;
  font-size: 14px;
  margin: 0;
}

ul {
  list-style: none;
}

.alerts {
  margin-top: 50px;
}

.alert {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: auto;
  max-width: 1000px;
}
