.footer {
  display: flex;
  height: 200px;
  margin: auto;
  max-width: 1000px;
}

.footer-column {
  ul {
    padding: 0;
  }

  &.mod-alone {
    margin: 11px 0 0 80px;
  }
}

.footer-link {
  list-style-type: none;
  margin-bottom: 15px;

  a {
    color: #9EA0A6;
    font-size: 16px;
    text-decoration: none;
  }
}

.footer-logocontainer {
  position: relative;
}

.footer-logocontainer + .footer-link {
  color: #9EA0A6;
  font-size: 16px;
  position: relative;
  top: 50px;
}

.footer-title {
  margin-top: 10px;
  font-size: 18px;
}
