.home-container {
  margin-top: 50px;
}

.home-containerright {
  height: 600px;
  position: relative;

  @include md {
    height: auto;
    width: 500px;
  }
}

.home-containerreseau {
  padding-top: 70px;
}

.home-discover {
  margin-top: 120px;
  width: 150px;

  &:hover {
    cursor: pointer;
  }
}

.home-discoverlink {
  color: #000;
  height: 100%;
  text-decoration: none;
  width: 100%;

  &::before {
    color: #6D9BF1;
    font-size: 10px;
    position: absolute;
    top: 25px;
  }
}

.home-discovertext {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
}

.home-gradient {
  &.mod-nomargin {
    margin: 0;
  }

  &.mod-left {
    height: 380px;
    justify-content: flex-start;

    @include md {
      height: auto;
    }
  }

  @include md {
    display: flex;
    justify-content: space-between;
    min-height: 530px;
  }

  &::before {
    background: linear-gradient(270.93deg, #FFFFFF 0%, #F8F8F8 100%);
    content: "";
    height: 375px;
    left: -75px;
    position: absolute;
    width: 100%;
    z-index: -1;

    @include md {
      height: 530px;
      width: 640px;
    }
  }
}

.home-linkbutton {
  background-color: #FFF;
  box-shadow: 0 20px 40px 0 #EBEBEB;
  color: #6D9BF1;
  padding: 16px 30px 16px 65px;
  position: relative;
  text-decoration: none;

  &::before {
    background: image-url('messenger.png');
    background-size: 30px;
    content: "";
    height: 30px;
    left: 30px;
    position: absolute;
    top: 12px;
    width: 30px;
  }
}

.home-inversegradient {


  &::before {
    background: linear-gradient(90.93deg, #FFFFFF 0%, #F8F8F8 100%);
    content: "";
    height: 650px;
    position: absolute;
    right: 0;
    z-index: -1;

    @include md {
      width: 640px;
    }
  }

  @include md {
    display: flex;
    justify-content: space-between;
    min-height: 650px;
  }
}

.home-input {
  border: 0;
  font-size: 17px;
  outline: 0;
  width: 355px;

  &::placeholder {
    color: rgba(158,160,166,0.5);
    font-size: 14px;
  }
}

.home-inputbutton {
  color: #FFF;
  background-color: #6D9BF1;
  font-size: 14px;
  height: 47px;
  width: 221px;
}

.home-inputcontainer {
  align-items: center;
  box-shadow: 0 20px 80px 0 #EBEBEB;
  display: flex;
  background-color: #FFF;
  justify-content: space-between;
  height: 47px;
  padding: 15px;
  width: 600px;
}

.home-itempanel {
  display: none;

  &.mod-visible {
    display: block;
  }

  @include md {
    width: 420px;
  }
}

.home-logo {
  content: "";
  height: 150px;
  position: absolute;
  width: 150px;

  &.mod-algolia {
    background: image-url('entreprises/algolia.png');
    left: 16%;
    top: 370px;

    @include md {
      right: 262px;
    }
  }

  &.mod-blablacar {
    background: image-url('entreprises/blablacar.png');
    height: 200px;
    right: 0;
    top: 50px;
    width: 200px;

    @include md {
      right: 110px;
    }
  }

  &.mod-heetch {
    background: image-url('entreprises/heetch.png');
    left: 0;
    top: 200px;

    @include md {
      right: 320px;
    }
  }

  &.mod-lydia {
    background: image-url('entreprises/lydia.png');
    right: 0;
    top: 260px;

    @include md {
      right: 122px;
    }
  }

  &.mod-zenly {
    background: image-url('entreprises/zenly.png');
    left: 0;
    top: 50px;

    @include md {
      right: 320px;
    }
  }
}

.home-subcontainer {
  height: 800px;
  margin: 100px 0;
  position: relative;

  &::before {
    background: image-url("secondary_visual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 290px 273px;
    content: '';
    height: 350px;
    position: absolute;
    top: 500px;
    width: 100%;
    z-index: -1;
  }

  @include md {
    &::before {
      background: image-url("secondary_visual.png");
      content: '';
      height: 401px;
      left: 530px;
      position: absolute;
      top: -10px;
      width: 480px;
      z-index: -1;
    }
  }
}

.home-subtitle {
  color: #9EA0A6;
  display: flex;
  font-size: 16px;

  &.mod-textcenter {
    text-align: center;
  }

  @include md {
    text-align: left;
    margin-bottom: 48px;
    width: 400px;
  }
}

.home-subtitle2 {
  font-family: Titillium Web;
  font-size: 26px;
  font-weight: 100;
  line-height: 45px;
  margin-bottom: 20px;

  &.mod-fixwidth {
    max-width: 377px;
  }

  @include md {
    font-size: 36px;
    line-height: 55px;

    &.mod-fixwidth2 {
      width: 410px;
    }

    &.mod-padding {
      padding: 50px 0 20px;
    }
  }
}

.home-tabview {
  margin-bottom: 10px;

  &.active {
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  }
}

.home-panel {
  @include md {
    margin-top: 160px;
  }
}

.home-paneltitle {
  font-family: Titillium Web;
  font-size: 24px;
  margin-bottom: 20px;
}

.home-select {
  background-color: #FFF;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  color: #6D9BF1;
  font-size: 12px;
  height: 47px;
  margin-bottom: 15px;
  outline: 0;
  padding: 0 10px;
  text-transform: uppercase;
  width: 100%;
}

.home-selectContainer {
  position: relative;

  .caret {
    color: #6D9BF1;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

.home-textpanel {
  color: #9EA0A6;
  font-size: 16px;
}

.home-panelbutton {
  background-color: transparent;
  border: 0;
  color: #9EA0A6;
  display: flex;
  font-size: 12px;
  height: 100%;
  justify-content: flex-start;
  outline: 0;
  padding: 15px 15px 15px 30px;
  text-transform: uppercase;
  width: 100%;

  &.active {
    color: #6D9BF1;
  }

  &:hover {
    cursor: pointer;
  }
}

.home-subscribe {
  display: flex;
  justify-content: center;

  @include md {
    display: block;
  }
}

.home-title {
  display: flex;
  font-family: Titillium Web;
  font-size: 26px;
  font-weight: 300;
  justify-content: center;
  margin: 20px 0;
  position: relative;

  &::before {
    background: image-url("main_visual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 365px 315px;
    content: '';
    height: 330px;
    position: absolute;
    top: 252px;
    width: 100%;
    z-index: -1;
  }

  @include md {
    display: block;
    margin: 305px 0 20px;
    width: 400px;

    &::before {
      background: image-url("main_visual.png");
      content: '';
      height: 607px;
      left: 320px;
      position: absolute;
      top: -195px;
      width: 658px;
      z-index: -1;
    }
  }
}

.home-title2 {
  color: #6D9BF1;
  font-family: Titillium Web;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 60px;
  text-transform: uppercase;

  @include md {
    padding-top: 100px;
  }
}

.home-titlesubsection {
  color: #6D9BF1;
  font-size: 24px;
  margin-bottom: 15px;
}

.home-section {
  &.mod-fixheight {
    height: 600px;
  }

  @include md {
    margin-bottom: 150px;
  }
}
