<div class="footer">
  <div class="footer-column">
    <div class="footer-logocontainer">
      <%= link_to "", root_path, class: "navbar-logo" %>
    </div>
    <div class="footer-link">Devenez UX/UI designer.</div>
  </div>

  <div class="footer-column mod-alone">
    <div class="footer-title">Réseaux sociaux</div>
    <ul>
      <li class="footer-link"><%= link_to "Facebook", "https://www.facebook.com/thedesigncrewfrance/" %></li>
      <li class="footer-link"><%= link_to "Twitter", "" %></li>
    </ul>
  </div>
</div>
