<nav id="navbar" class="navbar">
  <div class="navbar-container">
    <div class="navbar-logocontainer">
      <%= link_to "", root_path, class: "navbar-logo" %>
    </div>
    <ul class="navbar-listitem">
      <li class="navbar-item"><%= link_to "Formation", "#formation", class: "navbar-itemlink" %></li>
      <li class="navbar-item"><%= link_to "Réseau de startups", "#reseau", class: "navbar-itemlink" %></li>
      <li class="navbar-item"><%= link_to "Contact", "#contact", class: "navbar-itemlink" %></li>
    </ul>
  </div>
</nav>
